*{  /* tells every element on the page to not have a margin or border unless specified */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* start header style */
header {
  padding: 20px 35px;
  background-color: tan;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky; /* makes sticky header for Safari */
  position: sticky;
  top: 0;
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;   /* keeps header at forefront when scrolling through page */
}

header h1 {
  font-weight: bold;
  font-size: 40px;
  margin: 0;
  display: inline; /* makes menu line up with title */
  color: yellow;
}

header a {
  text-decoration: none;
  color: #4169E1; /* menu and title text color */
}

header nav {
  float: right; /* makes menu on right */
  margin: 10px 0;
}

header nav ul li {
  display: inline; /* makes menu horizontal */
}

header nav ul li a {
  margin: 0 40px;
  font-weight: normal;
  font-size: 25px;
}
/* end header style */

/* start hero section style */
.hero {
  background-image: url("../images/hero-img.jpg");
  min-height: 500px;
  background-size: cover; /* makes the image fit the screen so you can see the whole thing */
  background-position: center;
}

/* end hero section style */

/* start about section style */
.about-info { /* keeps picture next to <p> text when flexing */
  display: flex;
}

.about-info p {  /* text placement of about section */
  padding: 0 60px 0 80px; 
  align-items: flex-start;
  font-size: 30px;
}
/* end about section style */

/* start work samples section style */

.samples {  /* text placement of work samples section */
  padding: 0 30px 0 470px; /* top, right, bottom, left images distance from left margin */
  /*align-items: flex-start; /* flexbox */
  font-size: 30px;
 display: inline-flexbox; /* makes work samples left aligned with grid underneath */
 text-align: left;
}

.samples-grid-container {
  display: grid;
  padding: 20px; /* gap between section title and grid */
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;  /* space between all cells */
  grid-auto-flow: dense; /* puts boxes 2 and 4 in the right places */
}

.samples-grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: solid;
  color: white;
  padding: 1em;
}

.box1 {
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
}

.box3 {
  grid-column:  5 / span 1;
  grid-row: 1 / span 2;
}

.box5 {
  grid-column: 1 / span 3;
  grid-row: 3 / span 1;
}

.box6 {
  grid-column: 4 / span 2;
  grid-row: 3 / span 1;
}
/* end work samples section style */

/* start contact section style */
.contact-img {
  display: flex; /*makes 3 icons in an even row that flexes, cannot do inline-flex or justify-content won't work */
  justify-content:  space-around; /* makes the 3 icons evenly separated */
  align-items: center; /* vertically centers the icons */
  flex-wrap: wrap; /* makes 3 icons stack on top of each other in mobile view */
}
/* end contact section style */

/* start footer style */
footer {
  background: tan;
  width: 100%;
  padding: 20px 35px;
  color: #4169E1; /* makes text blue */
  font-size: 35px;
}

footer a {
  text-align: left; /* puts email address on left */
  text-decoration: none; /* takes away underline from email */
  color: #4169E1; /* have to declare here because href makes it blue otherwise */
}

footer p {
  text-align: right; /* makes mobile number on right */
  float: right; /* puts email and mobile on same line */
}
/* end footer style */

/* The following need to stay at the bottom of the CSS file */
section {
  padding: 40px;
  color: #990000;
  background-color: tan;
}

section h2 {  /* section titles formatting */
  color: brown;
  text-decoration: underline;
  font-style: italic;
 /* padding-top: 90px; /* so that when you go to the heading from menu, you can see the title */
  padding-bottom: 20px; /* space between section heading and the image */
  font-size: 40px;
}