*{  /* tells every element on the page to not have a margin or border unless specified */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

:root {
  --primary-color: #A52A2A; /*brownish-red*/
  --secondary-color: #4169e1; /*blue*/
  --tertiary-color: #d2b48c; /*tan*/
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* start header style */
header {
  padding: 20px 35px;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky; /* makes sticky header for Safari */
  position: sticky;
  top: 0;
  z-index: 9999;   /* keeps header at forefront when scrolling through page */
}

header h1 {
  font-weight: bold;
  font-size: 40px;
  margin: 0;
  display: inline; /* makes menu line up with title */
}

header a {
  text-decoration: none;
  color: var(--secondary-color); /* menu and title text color */
}

header nav {
  float: right; /* makes menu on right */
  margin: 10px 0;
}

header nav ul li {
  display: inline; /* makes menu horizontal */
}

header nav ul li a {
  margin: 0 40px;
  font-weight: normal;
  font-size: 25px;
}
/* end header style */

/* start hero section style */
.hero {
  background-image: url("../images/hero-img.jpg");
  min-height: 500px;
  background-size: cover; /* makes the image fit the screen so you can see the whole thing */
  background-position: center;
  position: relative; /* added for moving label to bottom right*/
}

.hero-subtitle p {
  max-width: 250px;
  padding: 20px; /*pads the text of the subtitle inside the border*/
  text-align: center; /* keep this, it makes words centered in container */
  font-size: 20px;
  font-weight: bold;
  border: 5px solid;
  color: var(--primary-color);
  background-color: var(--tertiary-color);
  position: absolute; /* added for moving label to bottom right*/
  right: 0;  /* added for moving label to bottom right*/
  bottom: 0;  /* added for moving label to bottom right*/
  margin-right: 20px; /* moving in label from right edge */
  margin-bottom: 20px; /* moving in label from bottom edge */
}
/* end hero section style */

/* start about section style */
.about-info { /* keeps picture next to <p> text when flexing */
  display: flex;
}

.about-info p {  /* text placement of about section */
  padding: 0 60px 0 80px; 
  align-items: flex-start;
  font-size: 30px;
}
/* end about section style */

/* start work samples section style */
.samples {  /* text placement of work samples section */
  font-size: 50px; /* make boxes look right */
  display: flexbox; /* makes work samples left aligned with grid underneath */
}

.samples-grid-container {
  display: grid;
  padding: 20px; /* gap between section title and grid */
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;  /* space between all cells */
  grid-auto-flow: dense; /* puts boxes 2 and 4 in the right places */
  grid-template-areas: "box1-img box1-img box1-img box2-img box3-img"
                        "box1-img box1-img box1-img box4-img box3-img"
                        "box5-img box5-img box5-img box5-img box6-img";
}

.samples-grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  color: var(--primary-color);
  padding: 1em;
}

.samples-grid-item a {
  color: var(--secondary-color);
  border: 3px solid;
  padding: 10px;
  background-color: var(--tertiary-color);
  font-size: 20px;
  text-decoration: none;
}

.box1 {
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
  background-image: url("../images/jokinator.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.box2 {
  background-image: url("../images/weather.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.box3 {
  grid-column:  5 / span 1;
  grid-row: 1 / span 2;
  background-image: url("../images/run-buddy.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.box4 {
  background-image: url("../images/git-it-done.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.box5 {
  grid-column: 1 / span 3;
  grid-row: 3 / span 1;
  background-image: url("../images/scheduler.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.box6 {
  grid-column: 4 / span 2;
  grid-row: 3 / span 1;
  background-image: url("../images/horiseon.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.box1-img>img {
  object-fit: contain;
  width: 100%;
}
/* end work samples section style */

/* start contact section style */
.contact-img {
  display: flex; /*makes 3 icons in an even row that flexes, cannot do inline-flex or justify-content won't work */
  justify-content:  space-around; /* makes the 3 icons evenly separated */
  align-items: center; /* vertically centers the icons */
  flex-wrap: wrap; /* makes 3 icons stack on top of each other in mobile view */
 }
/* end contact section style */

/* start footer style */
footer {
  background: var(--tertiary-color);
  width: 100%;
  padding: 20px 35px;
  color: var(--secondary-color); /* makes text blue */
  font-size: 35px;
  display: flex;
  flex-direction: rows;
  align-items: stretch;
  justify-content: space-between;
}

footer a {
  margin: 0;
  padding: 0;
    text-decoration: none; /* takes away underline from email */
} 
/* end footer style */

/* The following need to stay at the bottom of the CSS file, but before media queries */
section {
  padding: 40px;
  color: var(--primary-color);
  background-color: var(--tertiary-color);
}

section h2 {  /* section titles formatting */
  color: var(--primary-color);
  text-decoration: underline;
  font-style: italic;
 /* padding-top: 90px; /* so that when you go to the heading from menu, you can see the title */
  padding-bottom: 20px; /* space between section heading and the image */
  font-size: 40px;
}

/*media query for smaller desktop screens and smaller */
@media screen and (max-width: 980px) {
    header {
       padding-bottom: 0;
       justify-content: center;
       position: relative;
   }

   header h1 {
       width: 100%;
       text-align: center;
       
   }

   header nav ul li a {
       font-size: 15px;
       flex-direction: column; /* makes the menu stack instead of inline */
       align-items: center; /* makes the menu stack instead of inline */
       display: block; /* makes the menu items stacked */
       text-align: center; /* makes the menu items centered when stacked */
   }

   .hero {
     width: 100%;
   }

   .about-info {
     flex-direction: column; /* makes the picture and text stack instead of inline */
     align-items: center; /* makes the picture and text stack instead of inline */
   }

   .about-info p {
     padding-top: 30px;
     font-size: 20px;
   }   

   .section h2 {
     width: 80;
   }

   footer {
     flex-direction: column;
     align-items: center;
     font-size: 20px;
   }
}  

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
 @media screen and (max-width: 575px) {
 
  .samples-grid-container  {
       flex-direction: column; /* makes the menu stack instead of inline */
       align-items: center; /* makes the menu stack instead of inline */
       display: block; /* makes the menu items stacked */
       text-align: center; /* makes the menu items centered when stacked */
  }   

  .contact-me {
       flex-direction: column; /* makes the menu stack instead of inline */
       align-items: center; /* makes the menu stack instead of inline */
       display: block; /* makes the menu items stacked */
       text-align: center; /* makes the menu items centered when stacked */
  }   

}